
<%= f.field_container :tag_list do %>
  <div class="form-group">
    <%= f.label :tag_list, I18n.t('tags') %>
    <%= f.select(:tag_list, Spree::Product.tags_on(:tags) {|p| [p.name, p.id ]}, { }, { multiple: true }) %>
  </div>
<% end %>

<script>
  $("#product_tag_list").select2({ tags: true });
</script>